.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
  background: rgba(165, 165, 157, 0.5);
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 100px;
}
